inst/doc
inst/extdata/models
inst/extdata/simple_3.30.01/
inst/extdata/simple_3.30.12/
inst/extdata/simple_3.30.13/
inst/extdata/simple_small_*

plots
*.p0*
*.b0*
*.r0*
*.std
*.htp
*.eva
*.tds
*.bar
*.cov
*.dep
*.hes
*.rpt
*.cpp
*.log
*.obj
*.tmp
*.ecm
*.mc2
*.mcm
*.hst
*.psv
*.ss_new
data_boot*
data_expval.ss
gradient.1
gradient.2
gradient.3
gradient.4
gradient.5
gradient.dat
rebuild.sso
echoinput.sso
SIS_table.sso
runnumber.ss
tmp_admb
variance
CumReport.sso
ParmTrace.sso
ss.cor
ss.rep
#ss.par
console.output.txt
test.R
*.exe
*.bat
ignored
revdep
\.Rhistory
*\.Rproj
.Rproj.user

.vscode/
