inst/doc
*.p0*
*.b0*
*.r0*
*.std
*.htp
*.eva
*.tds
*.bar
*.cov
*.dep
*.hes
*.rpt
*.cpp
*.log
*.obj
*.tmp
*.ecm
*.mc2
*.mcm
*.hst
*.psv
*.ss_new
gradient.1
gradient.2
gradient.3
gradient.4
gradient.5
gradient.dat
rebuild.sso
echoinput.sso
SIS_table.sso
runnumber.ss
tmp_admb
variance
CumReport.sso
ParmTrace.sso
ss.cor
ss.rep
ss.par
*.exe
*.bat
inst/extdata/*.png
inst/extdata/*/fastdat*
inst/extdata/*/testdat*
inst/extdata/*/retrospectives/
inst/extdata/*/jitter/
inst/extdata/*/profile/
inst/extdata/*/*posterior*
plots
ignored
revdep
