# Run r cmd check
name: call-r-cmd-check
# on specifies the build triggers. See more info at https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows
on: 
  push: 
    paths-ignore: 
      - '.github/**'
      - 'README.md'
  workflow_dispatch:
jobs:
  call-workflow:
    uses: nmfs-fish-tools/ghactions4r/.github/workflows/r-cmd-check.yml@main
  call-workflow-extra:
    # this step runs the r4ss tests again, after downloading ss3 exes and the
    # nmfs-stock-synthesis/ss-test-models repo.
    uses: nmfs-stock-synthesis/workflows/.github/workflows/r4ss-extra-tests.yml@main

