# document and style  using reusable workflow
on:
  workflow_dispatch:
  push:
    paths:
      - 'R/**'
      - 'tests/**'
      - 'vignettes/**'
    branches: [main]
  pull_request:
    paths:
      - 'R/**'
      - 'tests/**'
      - 'vignettes/**'
    branches: [main]
name: call-doc-and-style-r
jobs:
  call-workflow:
    uses: nmfs-fish-tools/ghactions4r/.github/workflows/doc-and-style-r.yml@main
    with: 
      run-rm_dollar_sign: true
