# Run r cmd check
name: call-r-cmd-check
# on specifies the build triggers. See more info at https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows
on: 
  push: 
    paths-ignore: 
      # - '.github/**'
      - 'README.md'
  workflow_dispatch:
  
jobs:
  call-workflow:      
    uses: nmfs-fish-tools/ghactions4r/.github/workflows/r-cmd-check.yml@add-input-option-workflows
    # uses: nmfs-fish-tools/ghactions4r/.github/workflows/r-cmd-check.yml@main
    with:
      additional_args_ubuntu: |
        sudo apt-get update
        sudo apt-get install -y libcurl4-openssl-dev
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get install --only-upgrade libstdc++6

