# Extra run of r4ss tests, when exe and models in test-models are available.workflow_call
# stored in this repo because only applicable to ss3 (and in particular r4ss)

on: 
  push: 
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
  pull_request:
    branches:
      - main
    # paths-ignore:
    #   - '.github/**'
    #   - 'README.md'
  workflow_dispatch:
  workflow_call:

name: run-tests
jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest, r: 'release', rspm: 'https://packagemanager.rstudio.com/cran/__linux__/focal/latest'}
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::covr
            any::devtools

      - name: Get repository of SS3 models
        uses: actions/checkout@v3
        with:
          repository: 'nmfs-ost/ss3-test-models'
          path: test-models-repo

      - name: move the models to the desired location
        run: |
          mv test-models-repo/models inst/extdata
          rm  -rf test-models-repo
          ls inst/extdata

      - name: Get the latest SS3 executable and move to expected location
        run: |
          wget -O ss3 https://github.com/nmfs-ost/ss3-source-code/releases/latest/download/ss3_linux
          sudo chmod a+x ss3
          cp ss3 inst/extdata/simple_small/ss3
          rm ss3

      - name: Get a 3.24 SS3 executable
        run: |
          wget -O ss3 https://vlab.noaa.gov/documents/259399/2000201/ss_3.24Z/037e3921-1f00-611a-1c30-d7a5c1063835?version=1.1&t=1608655599519&download=true
          sudo chmod a+x ss3
          mv ss3 inst/extdata/simple_3.24/ss3
        
      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
